.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #2196f3;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.column {
  display: flex;
  flex-direction: column;

  margin: 8vh;
}

.label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-right: 10px;
}

.containerCB {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.error {
  color: red;
}
.checkboxContainer label {
  font-size: 14px;
}
.submitButton {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 7vh;
}

.submitButton:hover {
  background-color: #0056b3;
}
